h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #202d71;
}

nav {
    background-color: #202d71; 
    padding: 10px; 
    display: flex; 
    justify-content: center; 
  }
  
  nav a {
    text-decoration:none;
    color: white; 
    margin: 0 15px; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  
  nav a:hover {
    background-color: skyblue; 
  }

body{
    background-image:url(https://i.pinimg.com/736x/3b/a8/b0/3ba8b0f248b133ef9c14ffce2cce01cd.jpg);
}

section{
    border: 5px solid darkblue;
    padding: 25px;
    margin: 20px;
    background-color: hsla(187, 100%, 48%, 0.8);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}